@page "/Registro/Index"


<PageTitle>Index</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<div class="card-title">
				<h2>Registro</h2>
			</div>
			<div class="text-end">
				<button class="btn btn-outline-primary">Crear</button>
			</div>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<a href="#"
   class="btn btn-primary">
	<span class="bi bi-plus-square mt-3"></span> Crear
</a>
<td class="text-center">
	<a href="#" class="btn bi bi-eye"></a>
</td>
<td class="text-center">
	<a href="#" class="btn bi bi-pencil-square"></a>
</td>
<td class="text-center">
	<a href="#" class="btn bi bi-trash"></a>
</td>

<a href="#"
   class="btn btn-primary">
	<span class="bi bi-floppy mt-3"></span> Guardar
</a>
<a href="#"
   class="btn btn-primary">
	<span class="bi bi-arrow-left mt-3"></span> Volver
</a>
@code {

}
